@use 'abstracts' as *;

[data-checkbox] label {
	user-select: none;
}

[data-checkbox-input] {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	[data-checkbox~="toggler"] & {
		justify-content: flex-start;
	}

	&::before {
		content: '';
		position: relative;
		display: inline-block;
		flex: 0 0 100%;
		cursor: pointer;
	}

	&::after {
		content: '';
		position: absolute;
		display: inline-block;
		opacity: 0;
		transition: all $td $tf 0s;
		pointer-events: none;
	}

	&:checked::after {
		opacity: 1;
	}

	[data-checkbox~="toggler"] &::after {
		left: 0;
		opacity: 1;
	}

	[data-checkbox~="toggler"] &:checked::after {
		left: 50%;
	}
}
