@use 'abstracts' as *;

[data-dual-range-track] {
	position: relative;
}

[data-dual-range-input] {
	position: absolute;
	width: auto;
	pointer-events: none;

	&::-webkit-slider-thumb {
		pointer-events: initial;
		width: rem(20);
		height: rem(20);
		background-color: #000000;
	}

	&::-moz-range-thumb {
		pointer-events: initial;
		width: rem(20);
		height: rem(20);
		background-color: #000000;
	}

	&:first-of-type {
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			left: var(--cur-perc-first);
			width: calc(var(--cur-perc-last) - var(--cur-perc-first));
			height: 100%;
			z-index: 1;
		}
	}
}

[data-dual-range-text] {}

[data-dual-range-val] {}
