@use 'abstracts' as *;

[data-file] {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	&::after {
		content: '';
		display: block;
		mask-image: url("../img/sprite.svg#file");
		mask-size: cover;
		mask-repeat: no-repeat;
		mask-position: center;
		flex-shrink: 0;
		aspect-ratio: 1;
	}
}

[data-file-label] {
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;
	}
}
