@use 'abstracts' as *;

.breadcrumbs {
	$p: &;
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;

	&__list {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__item {
		white-space: nowrap;
	}

	&__link {}
}