@use 'abstracts' as *;

[data-hide-menu] {
	--hide-menu-duration: 0.8s;
	position: fixed;
	inset: 0 0 auto auto;
	margin: 0;
	z-index: 8;
	height: 100dvh;
	overflow-y: scroll;
	translate: 100% 0;
	transition:
		translate var(--hide-menu-duration) $tf,
		display var(--hide-menu-duration) allow-discrete,
		overlay var(--hide-menu-duration) allow-discrete;

	@media (max-width:$md4) {
		width: 100vw;
	}

	&[open] {
		translate: 0;

		@starting-style {
			translate: 100% 0;
		}
	}
}

[data-hide-menu-content] {
	width: 100%;
	height: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}
