@use 'abstracts' as *;

[data-modal] {
	--modal-duration: #{$td};
	position: fixed;
	inset: 0;
	margin: auto;
	height: fit-content;
	max-height: 100%;
	z-index: 10;
	opacity: 0;
	transition:
		opacity var(--modal-duration) $tf,
		display var(--modal-duration) allow-discrete,
		overlay var(--modal-duration) allow-discrete;

	&::backdrop {
		cursor: pointer;
	}

	&[open] {
		opacity: 1;

		@starting-style {
			opacity: 0;
		}
	}
}

[data-modal-content] {
	width: 100%;
	height: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}
