@use 'abstracts' as *;

[data-notify] {
	--notify-duration: #{$td};
	--notify-offset: #{rem(16)};
	position: fixed;
	inset: auto auto 0 var(--notify-offset);
	margin: 0;
	z-index: 4;
	overflow: hidden;
	translate: 0 calc(100% + var(--notify-offset));
	transition:
		translate var(--notify-duration) $tf,
		display var(--notify-duration) allow-discrete,
		overlay var(--notify-duration) allow-discrete;

	&:popover-open {
		translate: 0 calc(var(--notify-offset) * -1);

		@starting-style {
			translate: 0 calc(100% + var(--notify-offset));
		}
	}

	&::backdrop {
		display: none;
	}

	@media (max-width:$md4) {
		--notify-offset: 0px;
	}
}
