@use 'sass:math';

@use 'abstracts/variables' as *;

[data-tab-link] {
	cursor: pointer;

	[data-tabs]:not([data-tabs~="empty"]) &[aria-selected="true"] {
		pointer-events: none;
	}
}

[data-tab-panels] {
	box-sizing: content-box;

	[data-tabs]:not([data-tabs~="slide"]):not([data-tabs~="noanim"]):not([data-tabs~="empty"]) & {
		height: var(--max-height);
		transition: height $td ease math.div($td, 2);
	}
}

[data-tab-panel] {
	overflow: hidden;
	max-height: var(--max-height);
	transition: opacity $td ease $td, max-height 0s ease $td;

	[data-tabs~="slide"] &,
	[data-tabs~="empty"] & {
		transition: all $td ease 0s;
	}

	[data-tabs~="noanim"] & {
		transition: initial;
	}

	&:not([data-state~="active"]) {
		max-height: 0;
		opacity: 0;
		transition: opacity $td ease 0s, max-height 0s ease $td;

		[data-tabs~="slide"] &,
		[data-tabs~="empty"] & {
			transition: all $td ease 0s;
		}

		[data-tabs~="noanim"] & {
			transition: initial;
		}
	}
}
