@use 'abstracts' as *;

.tabs {
	display: flex;
	flex-direction: column;
	gap: rem(10) 0;
	max-width: rem(500);
	margin: 0 auto;

	&__link-list {
		display: flex;
		gap: 0 rem(10);
	}

	&__link {
		flex: 1 1;

		&[aria-selected='true'] {
			color: var(--c-accent);
			background-color: var(--c-main);
		}
	}

	&__content-list {
		border: rem(1) solid var(--c-main);
		padding: rem(15);
		max-width: rem(500);
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(5) 0;
	}
}
