/*
? Тут указываем все используемые в дизайне цвета. Для их быстрого вызова используем сниппет vc.
? В переменной main укажите основной цвет шрифта, а в переменной accent - противоположный ему (белый или черный).
? light-dark() подставляет первое значение при светлой схеме и второе при тёмной. Если цвет одинаков в обеих
? схемах (как правило, фирменные цвета) - пишите его обычным значением.
? Подробнее о переключении схем - в документации, раздел "Темизация и работа с темами".
*/
:root {
	color-scheme: light dark;

	--c-main: light-dark(#1d201f, #f7f9f7);
	--c-accent: light-dark(#f7f9f7, #1d201f);
	--c-brand: #45c95a;
}

:root[data-theme='light'] {
	color-scheme: light;
}

:root[data-theme='dark'] {
	color-scheme: dark;
}
