@use 'abstracts/variables' as var;

* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}
html {
	font-size: var.$fontSize;
	box-sizing: border-box;
	scroll-padding-top: var(--header-height, 0px);
}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
html,
body {
	height: 100%;
	scrollbar-gutter: stable;
}
body {
	line-height: 1;
	font-family: var.$fontFamily;
	text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: var.$fontFamily;
	appearance: none;
}
input[type=number] {
	appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
input[type=range]::-webkit-slider-thumb {
	appearance: none;
}
input[type=range]::-moz-range-thumb {
	appearance: none;
}
button {
	all: unset;
	cursor: pointer;
	background-color: inherit;
}
a {
	color: inherit;
}
a[href^="http"]:empty::before {
	content: attr(href);
}
a,
a:visited {
	text-decoration: none;
}
a:not(.link):hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
picture {
	display: block;
}
dialog {
	max-width: initial;
	max-height: initial;
}
dialog::backdrop {
	all: unset;
	position: fixed;
	inset: 0;
	background: transparent;
}
