/*
? Тут указываем все используемые в дизайне цвета (я предпочитаю в качестве имен использовать hex-коды, можете изменить на ваше усмотрение), для их быстрого вызова используем сниппет vc
? В переменной main укажите основной цвет шрифта, а в переменной accent - противоположный ему (белый или черный)
*/
$c-1d201f: #1D201F;
$c-f7f9f7: #F7F9F7;
$c-45c95a: #45C95A;

$c-main: $c-1d201f;
$c-accent: $c-f7f9f7;